html {
    font-family: 'Quicksand', sans-serif;
    margin : 0;
}

body {
    margin : 0 0;
}

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
    font-size : 2em;
}

h3 {
    font-size : 1.5em;
}


header {
    color : white;
    height : 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(24, 24, 24, 0.1),rgba(0, 0, 0, 0.05)) , url(./assets/Screen\ Shot\ 2021-10-12\ at\ 15.17.12.png);
}

section {
    margin-top : 4em;
    margin : 0 1em;
}

nav {
    font-size : 1em;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

nav ul, nav h1 {
    display : flex;
    margin : 0 1em;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    margin : 1em;
}

header div {

    height: 90vh;
    display : flex;
    flex-direction: column;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

header p {
    font-family: 'Architects Daughter', cursive;
}

header a {
    font-size : 0.8em;
    color: white;
    padding : 0.6em;
    text-decoration: none;
}

.button1 {
    background-color: black;
    border: white solid 1px;
}

.section-title {
    display : flex;
    justify-content: space-around;
    margin : 1.5em 0;
}

.back-top {
    display : flex;
    justify-content: space-around;
    color : orange;
}

iframe {
    width : 100%;
}

.wrapper  img {
    width : 100%;
}

.grid3 img {
    width : 100%;
    height : 100%;
    object-fit: cover;
}
.grid3 {
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 1em;
    margin-bottom: 1em;
}

.grid6 img {
    max-width : 30vw;
}

.grid6 {
    margin : 0 2em;
    display : grid ;
    grid-template-columns: 1fr 1fr;
    gap : 1em;
}

.grid6 div {
    width : 30vw;
    margin: 0 auto auto auto;
}

.grid6 div h1 {
    text-align: center;
    font-size: 1.7em;
}

.grid6-2x3 {
    display : grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 1em;
    align-items: center;
    margin-bottom: 2em;
}

.grid6-2x3 img {
    height : 100%;
    width : 100%;
}

footer h1 {
    font-size: 1.4em;;
}

footer {
    font-size : 1em;
    padding : 1em;
    color : white;
    background-color: black;
    text-align: center;
}